/* root styles*/
:root {
	--blue: #0F1359;
	--pink: #772667;
	--white: #F2F2F2;
	--green: #2d7a17;
	--font-size: 1em;
}
/*select text*/
::selection {
	color: #E21CE0;
	background: var(--white);
}
a:hover {
	color: #E21CE0;

}
/*bg styles etc */
body {
	background-image: url('images/gamehubbg.jpg');
	height: 100%;
	background-size: 85%;
	background-position: top, center;
	background-repeat: no-repeat;
	background-color: var(--blue);
	font-family: Arial, Helvetica, sans-serif;
	font-size: var(--font-size);
	overflow-x: hidden;
	padding: 0.9375rem;
	color: var(--white);
	z-index: 1;
}

fieldset {
	border-radius: 5px;
}

legend {
	color: var(--blue);
}

label {
	color: var(--blue);
}

h1 {
	text-align: center;
	color: var(--white);
}

h2 {
	color: var(--green);
}

a,
li,
p,
i {
	list-style: none;
	text-decoration: none;
	color: var(--white)
}

img,
input {
	border-radius: 0.3125rem;
}

i:hover {
	background-color: var(--pink);
}

.subtotal,
.shopping-cart,
.checkout,
.contactctn,
.shipping,
.container,
.footer,
.allbuttons,
.footerlogo {
	border-radius: 0.3125rem;
}



/*allround wrapper */
.mywrapper {
	margin: 0 auto;
	min-width: 20rem;
	max-width: 75rem;
	align-content: center;
	color: var(--white);
	align-items: center;
}