/* root styles*/
:root {
	--blue:#0F1359;
	--pink:#CC79CB;
	--white:#F2F2F2;
	--green:#46A637;
	--font-size:1em;
	--border-radius:0.3125em;
}
/*chrome img rendering fix */
img {
	border: none;
	transform: translateZ(1px);
	}
/*bg styles etc */
body {
	background-image:url('images/gamehubbg.jpg');
	height:100%;
	background-size:85%;
	background-position:top,center;
	background-repeat:no-repeat;
	background-color:var(--blue);
	color:var(--white);
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
	font-size:var(--font-size);
	overflow-x:hidden;
	padding:15px;
}
h1 {
	text-align: center;
	color: var(--white);
}
h2 {
	color:var(--green);
}
a {
	text-decoration:none;
	color: var(--pink);
}
li {
	list-style:none;
	
}
/* flex alignments for games */
.flex-games {
	display: flex;
	height: 100%;
	padding: 10px;
	gap: 5px;
	margin-top: -200px;
	align-items:center;
	flex-direction: row;
	justify-content: center;
	}
@media screen and (max-width: 768px) {
	.flex-games{
		display: flex;
		flex-direction: row; 
		flex-wrap: wrap; 
		align-content: flex-start;
		width:150px;
		border-radius: var(--border-radius);
		margin: 0px;
		}
	}
/*flex box for index page*/
.flex-container {
	display: flex;
	justify-content: space-between; 
	align-items: flex-start;
	height: 100%;
	padding: 10px;
	gap: 5px;
}

.flex-container > div{
	border-radius: 5px;
	padding: 8px;
}
.overlay {
	text-align:center;
}
.overlay img {
	width:8.75em;
	height:9.125em;
	object-fit:cover;
	border-radius: var(--border-radius);
	filter:brightness(50%);
}
.releaseflex {
    display: flex;
    align-items: flex-start; 
    flex-direction: column; 
    flex-wrap: nowrap; 
	align-content: center;
	max-width: 200px;
}
@media screen and (max-width: 768px) {
	.releaseflex{
		flex-direction: column;
		width:200px;
		border-radius: var(--border-radius);
	}
}
.gameinfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: auto;
	
}
.gameinfo img {
	max-width: 200px;
	border-radius:var(--border-radius);
}
.gameprice {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.latestrelease {
	width:200px;
	text-align:center;
	margin:auto;
	border-radius:var(--border-radius);

}
.latestrelease img {
	margin:auto;
	width: 200px;
}

/*styling the navbar/headermenu*/
.navbar {
	display:flex;
	align-items:center;
	flex-direction: row;
	justify-content: center;
	padding:10px;
	background-color:var(--blue);
	color:var(--white);
	margin:auto;
	border-radius:var(--border-radius);
}
.nav-links a {
	color: var(--white);
}
.menu {
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap:1em;
	font-size:18px;
	color:var(--white);
}
.menu li:hover {
	background-color:var(--blue);
	border-radius:5px;
	
}
.menu li {
	padding: 5px 14px;
	background-color:var(--blue);
}
/* drop down menu */
.services {
	position:relative;
}
.dropdown {
	background-color:var(--blue);
	padding:1em 0;
	position:absolute;
	display:none;
	border-radius:5px;
	top:35px;
	z-index: 1000;
	
}
.dropdown li+li {
	margin-top:10px;
	color: var(--pink);
		border-radius: 4px;
}
.dropdown li {
	padding:0.5em 1em;
	width:8em;
	text-align:center;
	background-color:var(--blue);
}
.dropdown li:hover {
	background-color:var(--pink);
}
.services:hover .dropdown {
	display: block;
}
/*responsive menu */
input[type=checkbox] {
	display: none;
}
/*hamburger menu*/
.hamburger {
	display:none;
	font-size:24px;
	user-select: none;
	
}
/*media queries for responsive desgin */
@media (max-width:768px) {
	.menu {
		display:none;
		position:absolute;
		background-color:var(--blue);
		color:var(--white);
		right:0;
		left:0;
		text-align:center;
		padding:1rem 0;
		z-index: 1000;
	}
	.menu li:hover {
		display:inline-block;
		background-color:var(--pink);
		
	}
	.menu li+li {
		margin-top:0.75rem;
		background-color: var(--blue);
		color: var(--white);
	}
	input[type=checkbox]:checked ~ .menu {
		display:block;
	}
	.hamburger {
		display:block;
		color:var(--white);
	}
	.dropdown {
		top: -3.125rem;
		transform:translateX(35%);
		z-index: 1000;
		background-color: var(--blue);
		border-radius: 0.25rem;
	}
	.dropdown li:hover {
		background-color: var(--pink);
	
	}
}

/* grid for game page */
.card {
	color:var(--white);
	padding:2px;
	height:auto;
	border-radius:var(--border-radius);

}
.cards {
	grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
	max-width:600px;
	margin:0 auto;
	display:grid;
	gap:5px;
	padding: 10px;
}

/*PRODUCT CARDS */
.wrapper {
	display: flex;
	padding: 10px;
	flex-wrap: nowrap;
	width: 900px;
	margin:auto;
  }
  @media screen and (max-width: 768px) {
	.wrapper{
		flex-direction: column;
		width:400px;
		border-radius: var(--border-radius);
		padding: 3px;
	}
}
  .productcard {
	max-width: 150px;
	text-align: center;
	padding: 3px;
  }
  .productcard img {
	max-width: 150px;
	border-radius: var(--border-radius);
  }
  
  .price {
	color: var(--green);
	font-size: 20px;
  }
  
  .productcard button {
	border: none;
	padding: 5px;
	color: var(--white);
	background-color: var(--pink);
	text-align: center;
	width: 100%;
	font-size: 16px;
	border-radius: var(--border-radius);
  }
  
  .productcard button:hover {
	background-color: var(--green);
  }
  
  .category {
	font-size: x-large;
	padding: 5px;
	text-align: center;
  }
/* Buttons */
.btn {
	background-color:var(--white);
	border:var(--none);
	color:var(--pink);
	padding:0.625rem;
	text-align:center;
	display:inline-block;
	font-size:large;
	margin:4px;
	border-radius:var(--border-radius);
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.btn:hover {
	background-color:var(--blue);
	color:var(--pink);
}

.btncart {
	background-color:var(--pink);
	color:var(--white);
	padding:5px;
	text-align:center;
	border-radius:var(--border-radius);
	border:none;
	margin: 10px;
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.btncart:hover {
	background-color:var(--white);
	color:var(--pink);
	padding:5px;
	text-align:center;
	display:inline-block;
	border-radius:var(--border-radius);
	border:none;
	margin: 10px;
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.btnprice {
	background-color: var(--green);
	color: var(--white);
	padding: 5px;
	text-align: center;
	border-radius: var(--border-radius);
	border:none;
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.btnprice:hover {
	color: var(--green);
	background-color: var(--white);
	padding: 5px;
	text-align: center;
	border-radius: var(--border-radius);
	border:none;
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}

.btnused {
	color: var(--blue);
	background-color: var(--white);
	padding: 5px;
	text-align: center;
	border-radius: var(--border-radius);
	border:none;
	margin: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.btnused:hover {
	background-color: var(--white);
	color: var(--pink);
	padding: 5px;
	text-align: center;
	border-radius: var(--border-radius);
	border:none;
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.btnabt {
	background-color:var(--white);
	border:var(--none);
	color:var(--blue);
	padding:0.625rem;
	text-align:center;
	margin:0.3125em 0.3125em;
	border-radius:var(--border-radius);
	border:none;
	font-size:0.875rem;
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';

	
}
.btnabt:hover {
	background-color:var(--white);
	color:var(--pink);
	font-size: 0.875rem;
}
/*released content styles */
.releasebtn {
	background-color:var(--pink);
	border:var(--none);
	color:var(--white);
	padding:0.3125em 0.3125em;
	text-align:center;
	font-size:1.2em;
	margin:0.3125em 0.25rem;
	border-radius:var(--border-radius);
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.releasebtn:hover {
	background-color:var(--white);
	color:var(--green);
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';

}


/* games, content, and headlines */
.date {
	color:var(--pink);
}
.games {
	display: flex;
	flex-flow: space-between;
	max-width: 200px;
	border-radius: var(--border-radius);	
}
.games img {
	max-width: 250px;
	border-radius: var(--border-radius);	
 }	

@media screen and (max-width: 768px) {
	.games{
		flex-direction: column;
		width:150px;
		border-radius: var(--border-radius);
	}
}


/* gamehub logo */
.logo {
	font-size:32px;
}
.logo img {
	width: 130px;
}

/* login-form, dummy version */
   
form {   
	border: none;
}   
input[type=text], input[type=password] {   
		width: 100%;
		padding: 12px;
		border-style: none;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
		background: #EAB1E9;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
 
}   
.btnlogin {
   background-color:var(--pink);
   border:var(--none);
   color:var(--white);
   padding:0.625rem;
   text-align:center;
   display:inline-block;
   margin:4px;
   border-radius:var(--border-radius);
   width: 100%;
   font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.btnlogin:hover {
   background-color: var(--white);
   color: var(--pink);
}

.cancelbtn {   
   width: auto;   
   background-color:var(--pink);
   border:var(--none);
   color:var(--white);
   padding:0.625rem;
   text-align:center;
   display:inline-block;
   margin:4px;
   border-radius:var(--border-radius);
   font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
}
.cancelbtn:hover {
   background-color: var(--white);
   color: var(--pink);
}

.container {   
	padding: 25px;   
	max-width: 350px;
	margin: auto;
	border-radius: var(--border-radius);
	background-color: var(--white);
	color:var(--blue);
}  

/*contact form*/
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border-style: none;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	background: #EAB1E9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	color:var(--blue);
  }
  label {
	  font-size: 16px;
	  color: var(--blue);
	  
  }
  input[type=submit] {
	background-color: #EAB1E9;
	color: var(--blue);
	padding: 12px 20px;
	border: none;
	border-radius: var(--border-radius);
	cursor: pointer;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
	color:var(--blue);
  }
  
  input[type=submit]:hover {
	background-color: var(--white);
  }
  
  .contactctn {
	border-radius: 5px;
	background: var(--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 20px;
  }

/*footer styles*/
.footer {
	background:rgba(234,177,233,0.36);
	display:flex;
	width:100%;
	height:5em;
	color:var(--white);
	text-align:center;
	margin:auto;
	justify-content:center;
	border-radius:var(--border-radius);
}
.footerlogo img {
	width:5.375em;
	padding:1em;
	vertical-align:middle;
	margin: auto;
}

