/* root styles*/
:root {
	--blue:#0F1359;
	--pink:#CC79CB;
	--white:#F2F2F2;
	--green:#46A637;
	--font-size:1em;
	--border-radius:0.3125em;
}
body {
	background-image:url('images/gamehubbg.jpg');
	height:100%;
	background-size:85%;
	background-position:top,center;
	background-repeat:no-repeat;
	background-color:var(--blue);
	color:var(--white);
	font-family:Arial,Helvetica,sans-serif;
	font-family:'JetBrains Mono';
	font-size:var(--font-size);
	overflow-x:show;
	padding:0.3em;
}
h1 {
	text-align: center;
}
h2 {
	color:var(--green);
}
a {
	text-decoration:none;
}
li {
	list-style:none;
}
p {
	color:var(--white);
}
/* navbar menu */
.menu {
	display:flex;
	gap:1em;
	font-size:18px;
	color:var(--white);
}
.menu li:hover {
	background-color:var(--blue);
	border-radius:5px;
	transition:0.3s ease;
}
.menu li {
	padding: 5px 14px;
	background-color:var(--blue);
}
/* drop down menu */
.services {
	position:relative;
}
.dropdown {
	background-color:var(--blue);
	padding:1em 0;
	position:absolute;
	display:none;
	border-radius:5px;
	top:35px;
	z-index: 1000;
	
}
.dropdown li+li {
	margin-top:10px;
	background-color:var(--blue);
}
.dropdown li {
	padding:0.5em 1em;
	width:8em;
	text-align:center;
	background-color:var(--blue);
}
.dropdown li:hover {
	background-color:var(--pink);
}
.services:hover .dropdown {
	display: block;
}
/*responsive menu */
input[type=checkbox] {
	display: none;
}
/*hamburger menu*/
.hamburger {
	display:none;
	font-size:24px;
	user-select: none;
}
/*media queries for responsive desgin */
@media (max-width:768px) {
	.menu {
		display:none;
		position:absolute;
		background-color:var(--blue);
		right:0;
		left:0;
		text-align:center;
		padding:16px 0;
	}
	.menu li:hover {
		display:inline-block;
		background-color:var(--pink);
		transition:0.3s ease;
	}
	.menu li+li {
		margin-top:12px;
		background-color: var(--blue);
	}
	input[type=checkbox]:checked ~ .menu {
		display:block;
	}
	.hamburger {
		display:block;
	}
	.dropdown {
		top: -50px;
		transform:translateX(35%);
		z-index: 1000;
		background-color: var(--blue);
	}
	.dropdown li:hover {
		background-color: var(--blue)
		
	}
}
.card {
	color:var(--white);
	padding:2px;
	height:auto;
	border-radius:var(--border-radius);

}
.cards {
	grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
	max-width:650px;
	margin:0 auto;
	display:grid;
	gap:5px;
	padding: 10px;
}

/*PRODUCT CARDS */
.wrapper {
	display: flex;
	padding: 10px;
	flex-wrap: nowrap;
	width: 800px;
	margin:auto;
  }
  @media screen and (max-width: 768px) {
	.wrapper{
		flex-direction: column;
		width:180px;
		border-radius: var(--border-radius);
		padding: 3px;
	}
}
  .productcard {
	max-width: 150px;
	text-align: center;
	padding: 3px;
  }
  .productcard img {
	max-width: 150px;
	border-radius: var(--border-radius);
  }
  
  .price {
	color: var(--green);
	font-size: 20px;
  }
  
  .productcard button {
	border: none;
	padding: 5px;
	color: white;
	background-color: var(--pink);
	text-align: center;
	width: 100%;
	font-size: 16px;
	border-radius: var(--border-radius);
  }
  
  .productcard button:hover {
	background-color: var(--green);
  }
  
  .category {
	font-size: x-large;
	padding: 5px;
	text-align: center;
  }
/* Buttons */
.btn {
	background-color:var(--white);
	border:var(--none);
	color:var(--pink);
	padding:0.625rem;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:large;
	margin:4px;
	border-radius:var(--border-radius);
}
.btn:hover {
	background-color:var(--blue);
	color:var(--pink);
}

.btncart {
	background-color:var(--pink);
	color:var(--white);
	padding:0.625rem;
	text-align:center;
	font-size:small;
	border-radius:var(--border-radius);
	border:none;
	margin: 10px;
	

}
.btncart:hover {
	background-color:var(--white);
	color:var(--pink);
	padding:0.625rem;
	text-align:center;
	display:inline-block;
	font-size:small;
	border-radius:var(--border-radius);
	border:none;
	margin: 10px;


}

.btnabt {
	background-color:var(--white);
	border:var(--none);
	color:var(--blue);
	padding:0.625rem;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:large;
	margin:0.3125em 0.3125em;
	border-radius:var(--border-radius);
	border:none;
	font-size:0.875rem;
}
.btnabt:hover {
	background-color:var(--white);
	color:var(--pink);
	font-size: 0.875rem;
}
/*released content styles */
.releasebtn {
	background-color:var(--pink);
	border:var(--none);
	color:var(--white);
	padding:0.3125em 0.3125em;
	text-align:center;
	font-size:1.2em;
	margin:0.3125em 0.25rem;
	border-radius:var(--border-radius);
}
.releasebtn:hover {
	background-color:var(--white);
	color:var(--pink);
}
.latestrelease {
	width:250px;
	text-align:center;
	margin:auto;
}
.latestrelease img {
	width:260px;
	margin:auto;
	border-radius:var(--border-radius);
}
.outnow {
	text-align:center;
	color:var(--white);
	margin: auto;
}
.overlay {
	filter:brightness(50%);
	text-align:center;
}
.overlay img {
	width:8.75em;
	height:9.125em;
	object-fit:cover;
	border-radius: var(--border-radius);
}
/* games, content, and headlines */
.date {
	color:var(--pink);
}
.games {
	display: flex;
	flex-flow: space-between;
}
.games img {
	max-width: 250px;
	border-radius: var(--border-radius);	
 }	

@media screen and (max-width: 768px) {
	.games{
		flex-direction: column;
		width:200px;
		border-radius: var(--border-radius);
	}
}

/*styling the navbar/headermenu*/
.navbar {
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:10px;
	background-color:var(--blue);
	color:white;
	margin:auto;
	border-radius:var(--border-radius);
}
.nav-links a {
	color: var(--white);
}
/* gamehub logo */
.logo {
	font-size:32px;
}
.logo img {
	width: 130px;
}

/*footer styles*/
.footer {
	background:rgba(234,177,233,0.36);
	display:flex;
	width:100%;
	height:5em;
	color:var(--white);
	text-align:center;
	margin:auto;
	justify-content:center;
	border-radius:var(--border-radius);
}
.footerlogo img {
	width:5.375em;
	padding:1em;
	vertical-align:middle;
	margin: auto;
}